/* Regular */
@font-face {
  font-display: swap;
  font-family: 'GothamPro';
  src: local('GothamPro'),
       url('../fonts/GothamPro-Regular.ttf') format('truetype'),
       url('../fonts/GothamPro-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/GothamPro-Regular.woff') format('woff'); 
  font-weight: 400;
  font-style: normal;
}
/* Medium */
@font-face {
  font-display: swap;
  font-family: 'GothamPro';
  src: local('GothamPro'),
       url('../fonts/GothamPro-Medium.ttf') format('truetype'),
       url('../fonts/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/GothamPro-Medium.woff') format('woff'); 
  font-weight: 500;
  font-style: normal;
}
/* Bold */
@font-face {
  font-display: swap;
  font-family: 'GothamPro';
  src: local('GothamPro'),
       url('../fonts/GothamPro-Bold.ttf') format('truetype'),
       url('../fonts/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/GothamPro-Bold.woff') format('woff'); 
  font-weight: 700;
  font-style: normal;
}

